footer {
  background-color: #c4e7ff;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 70px;
  padding-left: 70px;

}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {

  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    margin: 0;
    margin-bottom: 10px;
  }

&__title {
  font-weight: 500;
}
  &__img {
    width: 100px;
    margin-bottom: 20px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;

  &__link {
    text-decoration: none;
    color: #11344b;
    margin-bottom: 10px;
    font-size: 25px;

  }
}

.footer-txt {
  color: #525236;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 28px;
}