
//1600px

@media (max-width: 1600px) {

  body {
    font-size: 25px;
  }

  main {
    padding-left: 70px;
    padding-right: 70px;
  }

  .support-btn {

    left: -275px;

    &__logo {
      width: 35px;
    }
  }

  .main-screen {
    margin-left: -70px;
    margin-right: -70px;
    height: 800px;
  }

  header {
    padding-right: 40px;
    padding-left: 40px;
  }

  .btn {

    font-size: 22px;

    &_menu {
      padding-left: 20px;
      padding-right: 20px;
    }

    &_green {
      width: 300px;
    }

    &_support {
      width: 300px;
    }
  }

  .logo {
    font-size: 90px;

    &_footer {
      font-size: 200px;
    }
  }

.menu {
  &__link {
font-size: 22px;
  }
}

h1 {
  font-size: 80px;
}

.person {

  &__txt {
    font-size: 28px;
  }
}

.composition {

  &__photo {
    width: 480px;
  }

  &__wrap {
    left: -260px;
    top: -240px;
  }

  &__elem {
    width: 350px;

    &_beige {
      top: -675px;
    }
  }

  &__txt {
    font-size: 40px;
    width: 220px;
    top: -270px;
  }
}

h2 {
  font-size: 58px;
}

.request {
  font-size: 45px;
}

.request-info {
  margin-top: 20px;

  &__img {
    width: 120px;
  }

  &__txt {
    font-size: 25px;
  }
}

.other-info {
  margin-right: -70px;
  margin-left: -70px;
}

.methods {
  margin-left: -70px;
  margin-right: -70px;
  height: 470px;
}

.icons-txt {


  &_work {
    margin-left: 50px;
  }

  &_mind {
    margin-left: 50px;
  }

  &__img {
    width: 90px;
  }

}

h3 {
  font-size: 40px;
}

.picture {
  width: 320px;
}

.mind-work {
  margin-left: -70px;
  margin-right: -70px;
}

.price {
  font-size: 28px;
  height: 400px;
  width: 26%;

  &__sale {
    font-size: 26px;
  }
}

.free {
  margin-right: -70px;
  margin-left: -70px;
  height: 420px;
}

.reviews {

  &__nav {
    width: 70px;
  }
}

.review {

  height: 580px;
  padding: 40px;

  &__photo {
    width: 130px;
  }

  &__name {
    font-size: 30px;
  }

  &__txt {
    font-size: 24px;
  }
}

.support {
  margin-left: -70px;
  margin-right: -70px;
  height: 450px;
}

.education {

  &__wrap {
    width: 80%;
  }

  &__nav {
    width: 70px;
  }

  &__img {
    width: 70%;
  }
}

.questions {
  padding: 40px;
}

.question {

  p {
    font-size: 20px;
  }

  &__txt {
    font-size: 25px;
  }

  &__img {
    width: 50px;
  }
}

.important-info {

  h2 {
    font-size: 45px;
  }
}

.form {

  height: 730px;

  &__input {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 23px;
  }

  &__message {
    font-size: 23px;
  }
}

footer {
  padding-left: 70px;
  padding-right: 70px;
}

.footer-links {

  &__link {
    font-size: 23px;
  }
}

.contacts {

  p {
    font-size: 23px;
  }

  &__title {
  font-size: 28px;
  }

  &__img {
    width: 90px;
  }

}

  .photo {
    &__img {
width: 500px;
    }

    &__ellipse-blue {
      top:-625px;
    }

    &__ellipse-green {
      left: 350px;
    }
  }

}

@media (max-width: 1440px) {

  .number {
    font-size: 24px;
  }

  .btn {

    &_menu {
      font-size: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

  }

  .menu {

    &__link {
      font-size: 20px;
    }
  }

  .composition {

    &__txt {
      font-size: 35px;
      width: 180px;
      top: -250px;
      left: 25px;
    }

    &__wrap {
      left: -200px;
      top:-210px;
    }

    &__elem {
      width: 330px;

      &_beige {
        top: -630px;
      }

    }
  }

  h2 {
    font-size: 50px;
  }

  .request {
    font-size: 40px;
  }

  .request-info {

    &__txt {
      font-size: 24px;
    }
  }

  .icons-txt {

    &__txt {
      font-size: 23px;
    }
  }

  .mind-work {
    h3 {
      font-size: 37px;
    }
  }

  .price-list {
    padding-top: 10px;
  }

  .price {

    font-size: 25px;
    height: 350px;

    &__sale {
      font-size: 23px;
    }
  }

  .free {
    height: 480px;
  }

  .review {

    height: 570px;

    &__photo {
      width: 110px;
    }

    &__txt {
      font-size: 23px;
    }

    &__name {
      font-size: 27px;
    }

    &__city {
      font-size: 22px;
    }

    &__wrap {
      margin-bottom: 20px;
    }

    &__nav {
      width: 60px;
    }
  }

  .support {
    height: 480px;
  }

  .education {

    &__nav {
      width: 55px;
    }

    &__img {
      width: 65%;
    }

    &__wrap {
      width: 75%;
    }
  }

  .question {

    &__img {
      width: 45px;
    }
  }

  .photo {

    &__img {
      width: 450px;
    }

    &__ellipse-blue {
      width: 300px;
      height: 300px;
      top: -565px;
    }

    &__ellipse-green {
      width: 300px;
      height: 300px;
      left: 320px;
      top: -460px;
    }
  }

  .form {
    height: 660px;

    &__input {
      font-size: 21px;
    }

    &__message {
      font-size: 21px;
    }
  }
}

@media (max-width: 1368px) {

  body {
    font-size: 23px;
  }

  .btn {

    &_green {
      width: 280px;
    }
  }

  .menu {
    &__link {
      font-size: 19px;
    }
  }

  .number {
    font-size: 22px;
  }

  .person {
    &__txt {
      font-size: 25px;
    }
  }

  .composition {

    &__photo {
      width: 450px;
    }
  }

  .main-screen {
    height: 750px;
  }

  .icons-txt {

    &__img {
      width: 80px;
    }

    &__txt {
      font-size: 21px;
    }
  }

  .picture {
    width: 300px;
  }

  .mind-work {
    h3 {
      font-size: 35px;
    }
  }

  .price {
    width: 25%;
    height: 335px;
  }

  .free {
    height: 450px;
  }

  .review {

    height: 480px;

    &__txt {
      font-size: 20px;
    }

  }

  .reviews {
    &__nav {
      width: 60px;
    }
  }

  .support {
    height: 460px;
  }

  .photo {

    &__ellipse-green {
      left: 300px;
      top: -450px;
    }
  }

}

@media (max-width: 1366px) {

  .picture {
    width: 290px;
  }
}

@media (max-width: 1280px) {}