
//1600px

@media (max-width: 1600px) {

  body {
    font-size: 25px;
  }

  main {
    padding-left: 70px;
    padding-right: 70px;
  }

  .support-btn {

    left: -275px;

    &__logo {
      width: 35px;
    }
  }

  .main-screen {
    margin-left: -70px;
    margin-right: -70px;
    height: 800px;
  }

  header {
    padding-right: 40px;
    padding-left: 40px;
  }

  .btn {

    font-size: 22px;

    &_menu {
      padding-left: 20px;
      padding-right: 20px;
    }

    &_green {
      width: 300px;
    }

    &_support {
      width: 300px;
    }
  }

  .logo {
    font-size: 90px;

    &_footer {
      font-size: 200px;
    }
  }

.menu {
  &__link {
font-size: 22px;
  }
}

h1 {
  font-size: 80px;
}

.person {

  &__txt {
    font-size: 28px;
  }
}

.composition {

  &__photo {
    width: 480px;
  }

  &__wrap {
    left: -260px;
    top: -240px;
  }

  &__elem {
    width: 350px;

    &_beige {
      top: -675px;
    }
  }

  &__txt {
    font-size: 40px;
    width: 220px;
    top: -270px;
  }
}

h2 {
  font-size: 58px;
}

.request {
  font-size: 45px;
}

.request-info {
  margin-top: 20px;

  &__img {
    width: 120px;
  }

  &__txt {
    font-size: 25px;
  }
}

.other-info {
  margin-right: -70px;
  margin-left: -70px;
}

.methods {
  margin-left: -70px;
  margin-right: -70px;
  height: 470px;
}

.icons-txt {

  width: 85%;
  margin-left: 110px;

  &_work {
    width: 90%;
    margin-left: 50px;
  }

  &_mind {
    width: 90%;
    margin-left: 50px;
  }

  &__img {
    width: 90px;
  }

}

h3 {
  font-size: 40px;
}

.picture {
  width: 320px;
}

.mind-work {
  margin-left: -70px;
  margin-right: -70px;
}

.price {
  font-size: 28px;
  height: 400px;
  width: 26%;

  &__sale {
    font-size: 26px;
  }
}

.free {
  margin-right: -70px;
  margin-left: -70px;
  height: 420px;
}

.reviews {

  &__nav {
    width: 70px;
  }
}

.review {

  height: 580px;
  padding: 40px;

  &__photo {
    width: 130px;
  }

  &__name {
    font-size: 30px;
  }

  &__txt {
    font-size: 24px;
  }
}

.support {
  margin-left: -70px;
  margin-right: -70px;
  height: 450px;
}

.education {

  &__wrap {
    width: 80%;
  }

  &__nav {
    width: 70px;
  }

  &__img {
    width: 70%;
  }
}

.questions {
  padding: 40px;
}

.question {

  p {
    font-size: 20px;
  }

  &__txt {
    font-size: 25px;
  }

  &__img {
    width: 50px;
  }
}

.important-info {

  h2 {
    font-size: 45px;
  }
}

.form {

  &__input {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 23px;
  }

  &__message {
    font-size: 23px;
  }
}

footer {
  padding-left: 70px;
  padding-right: 70px;
}

.footer-links {

  &__link {
    font-size: 23px;
  }
}

.contacts {

  p {
    font-size: 23px;
  }

  &__title {
  font-size: 28px;
  }

  &__img {
    width: 90px;
  }

}

}
